ibm-header(
    name="Help and Documentation",
    [route]="['']",
    )
    a.cds--header__name(role='menuitem', routerLink="")
        img(src="./diem-help/public/images/diem_logo.svg", alt="Diem Logo", height="25", width="100")
    a.cds--header__name
        span.cds--header__name--prefix Help and Documentation
    ibm-header-navigation.ex--header_global

        ibm-header-action(
            title='open appPanel',
            [active]='appPanel',
            (selected)="openPanel('appPanel',$event)"
            )
            svg(appIcon='switcher', size='20')


ibm-panel(id="appPanel",[expanded]="appPanel")
    ng-template
        ul.cds--switcher
            li.cds--switcher__item(*ngFor="let menu of menus")
                a.cds--switcher__item-link(
                    routerLink="{{menu.value}}",
                    (click)="openPanel('appPanel',false)"
                    ) {{menu.name}}

            li.cds--switcher__item-divider.cds--switcher__item
                span.cds--switcher__item-link Other Links

            li.cds--switcher__item(*ngFor="let menu of subMenus")
                a.cds--switcher__item-link(
                    routerLink="{{menu.value}}",
                    (click)="openPanel('appPanel',false)"
                    ) {{menu.name}}
    .ex--panel-close((click)="openPanel('appPanel',false)",)
        span Close
        svg(appIcon='close', size='20')