ibm-header(
    name="Help and Documentation",
    [route]="['']",
    )
    a.bx--header__name(role='menuitem', routerLink="")
        img(src="./diem-help/public/images/diem_logo.svg", alt="Diem Logo", height="25", width="100")
    a.bx--header__name
        span.bx--header__name--prefix Help and Documentation
    ibm-header-navigation.ex--header_global(role="menu")

        ibm-header-action(
            title='open appPanel',
            [active]='appPanel',
            (selected)="openPanel('appPanel',$event)"
            )
            svg(ibmIconAppSwitcher='', size='20')


ibm-panel(id="appPanel",[expanded]="appPanel")
    ng-template
        ul.bx--switcher
            li.bx--switcher__item(*ngFor="let menu of menus")
                a.bx--switcher__item-link(
                    routerLink="{{menu.value}}",
                    (click)="openPanel('appPanel',false)"
                    ) {{menu.name}}

            li.bx--switcher__item-divider.bx--switcher__item
                span.bx--switcher__item-link Other Links

            li.bx--switcher__item(*ngFor="let menu of subMenus")
                a.bx--switcher__item-link(
                    routerLink="{{menu.value}}",
                    (click)="openPanel('appPanel',false)"
                    ) {{menu.name}}
    .ex--panel-close((click)="openPanel('appPanel',false)",)
        span Close
        svg(ibmIconClose='', size='20')